/* bg 태그 모음 */
main .intro .bg, main .outtro .bg  {width: 100%; height: 100%;}
main .intro .bg > span , main .outro .bg > span {
    background-repeat: repeat-x;
}
.bg .sea {
    display: block;
    position: absolute;
    background-image: url(../images/bg_sea.jpg);
    background-position: center;
    background-size: cover;
    width: 100%; height: 50vh;
    bottom: 0;
    z-index: 200;
}
.bg .cloud1 {
    background-image: url(../images/bg_cloud1.png);
    background-position: center;
    background-size: cover;
    width: 100vw; height: 600px;
    position: absolute;
    top: 10%; left: 0;
    animation: move_bg 150s linear alternate-reverse;
    opacity: 0.7;
}
.bg .cloud2 {
    background-image: url(../images/bg_cloud2.png);
    background-position: center;
    background-size: cover;
    width: 100vw; height: 550px;
    position: absolute;
    top: 10%; right: 0;
    animation: move_bg 300s linear alternate-reverse;
    opacity: 0.5;
}
/* main */
main {min-width: 1200px;}
main .section {
    background: linear-gradient(90deg, rgba(147,187,215,1) 0%, rgba(242,215,206,1) 50%, rgba(147,187,215,1) 100%);
    background-size: 400%;
    background-repeat: repeat;
    height: 100vh;
    animation: gra_bg 50s linear;
}
main .intro {position: relative;}
main .intro .intro_text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 300;
    width: 100%;
    padding-bottom: 50px;
}
main .intro .intro_text .txt_left, main .intro .intro_text .txt_right {margin-top: 15px;}
main .intro .intro_text > div > em,
main .intro .intro_text > div > span {
    color: #294F81;
    font-weight: 500;
    font-size: 1.333rem;
}
main .intro .intro_text .txt_right em,
main .intro .intro_text .txt_left span {font-weight: 700;}
main .intro .intro_text p {
    margin: 20px 20px 0;
}
main .intro .intro_text p img {width: 600px; height: 156.75px;}
main .intro .intro_text .txt_right {}
main > .about {
    position: relative;
    background: url(../images/bg_sea.jpg) repeat-x center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    animation: move_bg 300s linear alternate-reverse;
}
main > .about::after {
    content: '';
    background-color: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%; z-index: 100;
}
main > .about .info {
    position: relative;
    z-index: 200;
    width: 1200px;
    margin: 0 auto;
}
main > .about .info h1 {
    font-family:'마포꽃섬';
    font-size: 3.157rem;
    color: #fff;
    letter-spacing: -0.05rem;
    margin-bottom: 50px;
}
main > .about .info .about_contents {
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
main > .about .info .about_contents .c_left > div > a {
    color: #fff;
    transition: all 0.3s linear;
}
main > .about .info .about_contents .c_left > div > a:hover {
    color: #FFE55B;
    border-bottom:1px solid #FFE55B;
}
/* font 통합태그모음 */
main > .about .info .about_contents > div > div > em {
    font-size: 1.333rem;
    font-weight: 700;
    color: #C3E2FF;
    width: 122px;
    margin-right: 25px;
}
main > .about .info .about_contents div > div span,
main > .about .info .about_contents .c_right > div .desc p em {
    color: #fff;
}
/* margin 통합태그 */
main > .about .info .about_contents .c_left > div:last-child,
main > .about .info .about_contents .c_right > div .desc p:last-child {margin-bottom: 0;}
main > .about .info .about_contents .c_left > div .tag span,
main > .about .info .about_contents .c_right > div .desc p em {margin-right: 5px;}
main > .about .info .about_contents .c_left > div .tag span:last-child {margin-right: 0;}
/* 기본태그 */
main > .about .info .about_contents .c_left {margin-right: 100px;}
main > .about .info .about_contents .c_left > div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
main > .about .info .about_contents .c_left > div:last-child {}
main > .about .info .about_contents .c_left > div > em {}
main > .about .info .about_contents .c_left > div span {}
main > .about .info .about_contents .c_left > div .tag {}
main > .about .info .about_contents .c_left > div .tag span {}
main > .about .info .about_contents .c_left > div .tag span:last-child {}
main > .about .info .about_contents .c_right {}
main > .about .info .about_contents .c_right > div:first-child {margin-bottom: 50px;}
main > .about .info .about_contents .c_right > div {display: flex;}
main > .about .info .about_contents .c_right > div > em {margin: -3px 25px 0 0;}
main > .about .info .about_contents .c_right > div .desc {}
main > .about .info .about_contents .c_right > div .desc p {margin-bottom: 30px;}
main > .about .info .about_contents .c_right > div .desc p em {font-weight: 700;}
main > .about .info .about_contents .c_right > div .desc p span {}
main > .about .skills_wrap {
    margin-top: 70px;
    padding: 12px 0;
    position: relative;
    z-index: 200;
    background-color: rgba(255,255,255,0.5);
    background-size: cover;
    width: 100%;
}
main > .about .skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
main > .about .skills img {
    width: 50px; height: 50px;
}
main .web {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: none;
}
main .web1::after, main .web2::after, main .landing::after {
    content: '';
    background-color: rgba(0,0,0,0.7);
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%; z-index: 100;
}
main .web1 {background-image: url(../images/bg_cjenm.jpg);}
main .web2 {background-image: url(../images/bg_cineshop.jpg);}
main .landing {
    background-image: url(../images/bg_landing.jpg);
    background-position: 10%;
}
main .web h2 {
    position: relative;
    z-index: 200;
    font-family: 'Shrikhand', cursive;
    font-size: 5rem;
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
    animation: title 1s linear alternate both;
}
main .web .project {
    position: relative;
    z-index: 200;
    height: 500px;
    width: 100vw;
    background-color: rgba(255,255,255,0.7);
}
main .web .project > .container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
main .web .project p {
    transition: all 0.3s ease;
    margin-right: 70px;
}
main .web .project p:hover {}
main .web .project p img {width: 645.52px; height: 450px;}
main .web .project .project_contents {
    display: flex;
    flex-flow: column nowrap;
    width: 500px;
}
main .web .project .project_contents > div {
    display: flex;
    margin-bottom: 25px;
}
main .web .project .project_contents > div:last-child {margin-bottom: 0;}
/* font 통합태그모음 */
main .web .project .project_contents > div:last-child {margin-bottom: 0;}
main .web .project .project_contents > div > em,
main .web .project .project_contents > div > p {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 10px;
}
main .web .project .project_contents > div > span,
main .web .project .project_contents > div p,
main .web .project .project_contents > div .html_title .name em {
    font-size: 1.2rem;
}
main .web .project .project_contents > div > em,
main .web .project .project_contents > div > p {width: 100px;}
main .web .project .project_contents > div > span,
main .web .project .project_contents > div > em,
main .web .project .project_contents > div > p,
main .web .project .project_contents > div .html_title .name em,
main .web .project .project_contents > div .html_title .name span {line-height: 25px;}
/* 기본 태그 */
main .web .project .project_contents > div p {}
main .web .project .project_contents > div .html_title {width: 360px;}
main .web .project .project_contents > div .html_title p {margin-bottom: 10px;}
main .web .project .project_contents > div .html_title .container {
    display: flex;
}
main .web .project .project_contents > div .html_title img {
    width: 16px; height: 16px;
    margin: 6px 10px 0 0;
}
main .web .project .project_contents > div .html_title .name {
    display: flex;
    flex-flow: row wrap;
}
main .web .project .project_contents > div .html_title .name span {
    font-size: 0.75rem;
    margin: 0 10px;
}
main .web .project .project_contents .process {
    display: flex;
    align-items: center;
}
main .web .project .project_contents .process .progress_img {
    display: flex;
    width: 360px;
}
main .web .project .project_contents .process .progress_img img {
    width: 30px; height: 30px;
    margin-right: 17px;
}
main .web .project .project_contents .process .progress_img img:last-child {margin-right: 0;}
main .web .project .project_btn {
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
main .web .project .project_btn a {
    display: block;
    padding: 7px 23px 10px;
    background-color: rgba(255,255,255,0.25);
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 700;
    color: #fff;
    filter: drop-shadow(0 2px 10px rgba(0,0,0,0.25));
    transition: all 0.3s linear;
}
/* btn 태그모음 */
main .web1 .project .project_btn a:last-child {
    background-color: #FF9700;
}
main .web1 .project .project_btn a:hover,
main .web1 .project .project_btn a:last-child:hover {
    background-color: #fff;
    color: #FF9700;
}
main .web2 .project .project_btn a:last-child {
    background-color: #E30F00;
}
main .web2 .project .project_btn a:hover,
main .web2 .project .project_btn a:last-child:hover {
    background-color: #fff;
    color: #E30F00;
}
main .landing .project .project_btn a:last-child {
    background-color: #EA4C4C;
}
main .landing .project .project_btn a:hover,
main .landing .project .project_btn a:last-child:hover {
    background-color: #fff;
    color: #EA4C4C;
}
/* graphic section 통합태그모음 */
main > .graphic::after {
    content: '';
    background-color: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%; z-index: 300;
}
main .graphic > div > div:first-child {
    position: relative;
    z-index: 500;
}
main .graphic h2 {
    font-family: 'DM Serif Text', serif;
    font-size: 2.369rem;
    width: 1200px;
    padding: 10px;
    border-bottom: 2px solid #fff;
    color: #fff;
    margin: 0 auto 20px;
    position: relative;
}
.graphic h3 {
    font-family: 'DM Serif Text', serif;
    font-size: 2rem;
    color: #fff;
}
.graphic h3,
.graphic .font,
.graphic .color {
    text-align: center;
    position: relative; z-index: 200;
}
.graphic .font span, .graphic .color span {color: #fff;}
.graphic .color {
    display: flex;
    justify-content: center;
}
.graphic .color p {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 15px;
}
.graphic .color p:last-child {margin-right: 0;}
.graphic .color p span:first-child {
    margin: 0 auto 10px;
    border-radius: 50%;
    width: 35px; height: 35px;
    background-size: cover;
}
/* 기본태그 */
main .graphic {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
main .graphic1 {position: relative;}
main .graphic1 h2 {}
main .graphic1 .sns_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
main .graphic1 .sns_wrap > p {
    position: absolute;
    z-index: 500;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
main .graphic1 .sns_img {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    z-index: 400;
}
main .graphic1 .sns_img:nth-child(4n) {margin-right: 0;}
main .graphic1 .sns_img .sns_contents {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 285px; height: 285px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    filter: grayscale(100%);
    transition: all 0.3s linear;
    z-index: 500;
}
main .graphic1 .sns_img .sns_contents .sns {
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 34.5px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    transition: all 0.3s linear;
    opacity: 0;
}
main .graphic1 .sns_img .sns_contents .sns:hover {}
main .graphic1 .sns_img .sns_contents:hover {
    filter: grayscale(0); 
    transform: scale(1.05);
}
main .graphic1 .sns_img > div:hover .sns {opacity: 1;}
main .graphic1 .sns_popup {
    display: none;
    width: 500px; height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 600;
}
main .graphic1 .sns_popup img {
    width: 100%;
    border-radius: 10px;
}
main .graphic1 .sns_img .sns h3 {}
/* font */
main .graphic1 .sns_img .sns .font {}
main .graphic1 .sns_img .c2 .sns .font span {
    display: inline-block;
    margin-right: 10px;
}
main .graphic1 .sns_img .sns .font span {
    display: block;
    margin-bottom: 15px;
    font-size: 1.2rem;
}
main .graphic1 .sns_img .c2 .sns .font span:nth-last-child(1), 
main .graphic1 .sns_img .c2 .sns .font span:nth-last-child(2) {margin-bottom: 0;} 
main .graphic1 .sns_img .sns .font span:last-child {margin-bottom: 0;}
main .graphic1 .sns_img .c1 .font span:nth-child(1) {font-family: 'Montserrat', sans-serif;}
main .graphic1 .sns_img .c1 .font span:nth-child(2) {font-family:'여기어때';}
main .graphic1 .sns_img .c2 .font span:nth-child(1) {font-family:'Georgia';}
main .graphic1 .sns_img .c2 .font span:nth-child(2) {font-family:'나눔스퀘어';}
main .graphic1 .sns_img .c2 .font span:nth-child(3) {font-family:'소미체';}
main .graphic1 .sns_img .c2 .font span:nth-child(4) {font-family: 'Crimson Text', serif;}
main .graphic1 .sns_img .c3 .font span:nth-child(1) {font-family: 'Shrikhand', cursive;}
main .graphic1 .sns_img .c3 .font span:nth-child(2) {font-family:'rage';}
main .graphic1 .sns_img .c4 .font span:nth-child(1) {font-family: 'Racing Sans One', cursive;}
main .graphic1 .sns_img .c5 .font span:nth-child(1) {font-family: 'DM Serif Text', serif;}
main .graphic1 .sns_img .c5 .font span:nth-child(2) {font-family:'나눔스퀘어';}
main .graphic1 .sns_img .c6 .font span:nth-child(1) {font-family: '가나';}
main .graphic1 .sns_img .c6 .font span:nth-child(2) {font-family: '지마켓';}
main .graphic1 .sns_img .c7 .font span:nth-child(1) {font-family: '가나';}
main .graphic1 .sns_img .c7 .font span:nth-child(2) {font-family: '지마켓';}
/* color */
main .graphic1 .sns_img .sns .color {}
main .graphic1 .sns_img .sns .color span {}
main .graphic1 .sns_img .sns .color span:first-child {border: 1px solid rgba(255,255,255,0.5);}
.graphic .color p span:last-child {font-size: 0.75rem;}
.graphic .c1 .color p span:first-child {background-color: #E50012;}
.graphic .c2 .color p:first-child span:first-child {background-color: #217456;}
.graphic .c2 .color p:last-child span:first-child {background-color: #F4DB5B;}
.graphic .c3 .color p:first-child span:first-child {background-color: #EE7121;}
.graphic .c3 .color p:last-child span:first-child {background-color: #904516;}
.graphic .c4 .color p span:first-child {background-color: #222222;}
.graphic .c5 .color p:first-child span:first-child {background-color: #000;}
.graphic .c5 .color p:last-child span:first-child {background-color: #fff;}
.graphic .c6 .color p:first-child span:first-child {background-color: #BA1600;}
.graphic .c6 .color p:last-child span:first-child {background-color: #fff;}
.graphic .c7 .color p:first-child span:first-child {background-color: #FFBB38;}
.graphic .c7 .color p:last-child span:first-child {background-color: #333333;}
/* background img */
main .graphic1 .sns_img .c1 {background-image: url(../images/sns1.jpg);}
main .graphic1 .sns_img .c2 {background-image: url(../images/sns2.jpg);}
main .graphic1 .sns_img .c3 {background-image: url(../images/sns3.jpg);}
main .graphic1 .sns_img .c4 {background-image: url(../images/sns4.jpg);}
main .graphic1 .sns_img .c5 {background-image: url(../images/sns5.jpg);}
main .graphic1 .sns_img .c6 {background-image: url(../images/sns6.jpg);}
main .graphic1 .sns_img .c7 {background-image: url(../images/sns7.jpg);}
main .graphic2 {position: relative;}
main .graphic2 .banner_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
main .graphic2 .banner_wrap .bnr_title {
    width: 1200px;
    padding: 10px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    margin: 0 auto 20px;
}
main .graphic2 .banner_wrap .bnr_title h2 {
    color: #fff;
    font-family: 'DM Serif Text', serif;
    font-size: 2.369rem;
    border-bottom: none;
    padding: 0;
    margin-bottom: 0;
}
main .graphic2 .bnr_contents {
    width: 100%; height: 350px;
    margin: 0 auto;
}
main .graphic2 .bnr_contents .bnr_popup {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
main .graphic2 .bnr_contents .bnr_popup .bnr {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px; height: 400px;
    border-radius: 10px;
}
main .graphic2 .bnr_contents .bnr_popup .bnr1 {background-image: url(../images/banner1.jpg);}
main .graphic2 .bnr_contents .bnr_popup .bnr2 {background-image: url(../images/banner2.jpg);}
main .graphic2 .bnr_contents .bnr_popup .bnr3 {background-image: url(../images/banner3.jpg);}
main .graphic2 .bnr_contents .bnr_popup .bnr4 {background-image: url(../images/banner4.jpg);}
main .graphic2 .bnr_contents .bnr_popup .bnr5 {background-image: url(../images/banner5.jpg);}
main .graphic2 .bnr_bg {
    position: absolute;
    z-index: 600;
    top: 0; left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}
main .graphic2 .bnr_contents #bnr_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-scrollbar {
    width: 30%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5px;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-scrollbar-drag {background: #222;}
/* product_wrap */
main .product_wrap {
    margin: 70px 0 100px;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide {
    width: 900px !important; height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: all 0.3s linear;
    position: relative;
    z-index: 200;
    filter: grayscale(100%);
    border-radius: 10px;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide:hover {
    position: relative;
    z-index: 300;
    filter: grayscale(0);
    background-size: 110% auto;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%; height: 100%;
    padding: 30px 0;
    background: rgba(0,0,0,0.8);
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s linear;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container:hover {opacity: 1;}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container h3 {font-size: 2rem;}

main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container h3 {font-size: 2rem;}
/* font 태그 */
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .font span {
    display: block;
    margin-bottom: 15px;
    font-size: 1.333rem;
}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .font span:last-child {margin-bottom: 0;}
main .graphic2 .bnr_contents #bnr_slide .bnr1 .container .font span:first-child {font-family:'cooperout';}
main .graphic2 .bnr_contents #bnr_slide .bnr1 .container .font span:nth-child(2) {font-family:'cooper';}
main .graphic2 .bnr_contents #bnr_slide .bnr3 .container .font span:first-child {font-family: 'Galada', cursive;}
main .graphic2 .bnr_contents #bnr_slide .bnr3 .container .font span:last-child {font-family: 'Noto Sans KR', sans-serif;}
main .graphic2 .bnr_contents #bnr_slide .bnr5 .container .font span:first-child {font-family:'땅스부대찌개';}
main .graphic2 .bnr_contents #bnr_slide .bnr5 .container .font span:nth-child(2) {font-family:'nanum19';}
main .graphic2 .bnr_contents #bnr_slide .bnr5 .container .font span:last-child {font-family:'주아';}
main .graphic2 .bnr_contents #bnr_slide .bnr6 .container .font span:first-child {font-family:'나눔스퀘어';}
/* color 태그 */
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .color {}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .color p span:first-child {border: 1px solid rgba(255,255,255,0.5);}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .color p:first-child {margin-right: 15px;}
main .graphic2 .bnr_contents #bnr_slide .swiper-slide .container .color p span:first-child {width: 35px; height: 35px;}
main .graphic2 .bnr_contents #bnr_slide .bnr1 .container .color p:first-child span:first-child {background-color: #E30F00;}
main .graphic2 .bnr_contents #bnr_slide .bnr1 .container .color p:last-child span:first-child {background-color: #FAFF00;}
main .graphic2 .bnr_contents #bnr_slide .bnr2 .container .color p:first-child span:first-child {background-color: #222222;}
main .graphic2 .bnr_contents #bnr_slide .bnr2 .container .color p:last-child span:first-child {background-color: #f3f3f3;}
main .graphic2 .bnr_contents #bnr_slide .bnr3 .container .color p:first-child span:first-child {background-color: #217456;}
main .graphic2 .bnr_contents #bnr_slide .bnr3 .container .color p:nth-child(2) span:first-child {background-color: #FFF170;}
main .graphic2 .bnr_contents #bnr_slide .bnr3 .container .color p:last-child span:first-child {background-color: #282174;}
main .graphic2 .bnr_contents #bnr_slide .bnr4 .container .color p:first-child span:first-child {background-color: #CB011E;}
main .graphic2 .bnr_contents #bnr_slide .bnr4 .container .color p:last-child span:first-child {background-color: #FAF7F5;}
main .graphic2 .bnr_contents #bnr_slide .bnr5 .container .color p:nth-child(1) span:first-child {background-color: #2926B7;}
main .graphic2 .bnr_contents #bnr_slide .bnr5 .container .color p:nth-child(2) span:first-child {background-color: #EDEEF0;}
main .graphic2 #bnr_slide .swiper-wrapper .swiper-slide > div .color p span:last-child {}
main .graphic2 .bnr_contents #bnr_slide .swiper-wrapper .bnr1 {background-image: url(../images/banner1.jpg);}
main .graphic2 .bnr_contents #bnr_slide .swiper-wrapper .bnr2 {background-image: url(../images/banner2.jpg);}
main .graphic2 .bnr_contents #bnr_slide .swiper-wrapper .bnr3 {background-image: url(../images/banner3.jpg);}
main .graphic2 .bnr_contents #bnr_slide .swiper-wrapper .bnr4 {background-image: url(../images/banner4.jpg);}
main .graphic2 .bnr_contents #bnr_slide .swiper-wrapper .bnr5 {background-image: url(../images/banner5.jpg);}
/* news */
main .graphic3 .cardnews_wrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
main .graphic3 .cardnews_wrap .title {
    width: 1200px;
    padding: 10px;
    border-bottom: 2px solid #fff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
main .graphic3 .cardnews_wrap .title h2 {
    color: #fff;
    font-family: 'DM Serif Text', serif;
    font-size: 2.369rem;
    border-bottom: none;
    padding: 0;
    margin-bottom: 0;
}
main .graphic3 .cardnews_wrap .title .cardnews_btn {
    position: relative;
    display: flex;
    width: 85px;
    margin-bottom: 30px;
}
main .graphic3 .cardnews_wrap .title .cardnews_btn .prev {
    position: absolute;
    left: 0; top: 0;
    width: 30px; height: 30px;
    background: url(../images/icon/ico_prev.png) no-repeat center;
    background-size: cover;
}
main .graphic3 .cardnews_wrap .title .cardnews_btn .next {
    position: absolute;
    right: 0; top: 0;
    width: 30px; height: 30px;
    background: url(../images/icon/ico_next.png) no-repeat center;
    background-size: cover;
}
.trans {transform: translateX(-100%);}
main .graphic3 .cardnews_wrap .news_contents {
    display: flex;
    width: 1200px;
    height: 570px;
    overflow-x: hidden;
}
main .graphic3 .cardnews_wrap .news_contents .contents {
    display: flex;
    transition: all 1s ease;
}
main .graphic3 .cardnews_wrap .news_contents .c1 {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left {
    position: relative;
    width: 550px; height: 550px;
    margin-right: 90px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    padding: 70px 130px;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    transition: all 0.3s linear;
    opacity: 0;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left:hover .txt {opacity: 1;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt h3 {
    font-size: 3rem;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .font {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .font span {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color span {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .cover {
    width: 100%; height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    border-radius: 10px;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right {
    display: flex;
    flex-flow: row wrap;
    width: 570px; height: 550px;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a {
    display: block;
    width: 265px; height: 265px;
    margin: 0 30px 15px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
    border-radius: 10px;
    filter: grayscale(100%);
    transition: all 0.3s linear;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a.active,
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:hover {
    filter: grayscale(0);
    border: 2px solid #FFE55B;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-last-child(1),
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-last-child(2) {margin-bottom: 0;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-child(2n) {margin-right: 0;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .cover1 {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .cover2 {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .cover3 {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .cover4 {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-child(1) {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-child(2) {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-child(3) {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_right a:nth-child(4) {}
/* 카드뉴스 이미지 */
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left {background-image: url(../images/cardnews_first1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left {background-image: url(../images/cardnews_second1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .cover1 {background-image: url(../images/cardnews_first1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .cover2 {background-image: url(../images/cardnews_first2.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .cover3 {background-image: url(../images/cardnews_first3.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .cover4 {background-image: url(../images/cardnews_first4.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .cover1 {background-image: url(../images/cardnews_second1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .cover2 {background-image: url(../images/cardnews_second2.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .cover3 {background-image: url(../images/cardnews_second3.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .cover4 {background-image: url(../images/cardnews_second4.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_right a:nth-child(1) {background-image: url(../images/cardnews_first1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_right a:nth-child(2) {background-image: url(../images/cardnews_first2.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_right a:nth-child(3) {background-image: url(../images/cardnews_first3.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_right a:nth-child(4) {background-image: url(../images/cardnews_first4.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_right a:nth-child(1) {background-image: url(../images/cardnews_second1.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_right a:nth-child(2) {background-image: url(../images/cardnews_second2.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_right a:nth-child(3) {background-image: url(../images/cardnews_second3.jpg);}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_right a:nth-child(4) {background-image: url(../images/cardnews_second4.jpg);}
/* font 태그모음 */
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .font {}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .font span {
    display: block;
    margin-bottom: 15px;
    font-size: 1.777rem;
}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .txt .font span:first-child {font-family:'마포꽃섬';}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .txt .font span:last-child {font-family:'나눔스퀘어';}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .font span:last-child {margin-bottom: 0;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .font span:first-child {font-family:'tmon';}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .font span:last-child {font-family:'나눔스퀘어';}
/* color 태그모음 */
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color {
    display: flex;
    flex-flow: row wrap;
}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color p {margin-bottom: 5px;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color p span:first-child {width: 45px; height: 45px;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color p span:last-child {font-size: 1rem;}
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color p:nth-last-child(1),
main .graphic3 .cardnews_wrap .news_contents .contents .c_left .txt .color p:nth-last-child(2) {margin-bottom: 0;}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .txt .color p:nth-child(1) span:first-child {background-color: #FCEE82;}
main .graphic3 .cardnews_wrap .news_contents .c1 .c_left .txt .color p:nth-child(2) span:first-child {background-color: #FFA9A9;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .color p:first-child span:first-child {background-color: #FFEC88;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .color p:nth-child(2) span:first-child {background-color: #0152A1;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .color p:nth-child(3) span:first-child {background-color: #F38B05;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .color p:nth-child(4) span:first-child {background-color: #CCE2F6;}
main .graphic3 .cardnews_wrap .news_contents .c2 .c_left .txt .color p:nth-child(5) span:first-child {background-color: #EB0000;}
/* 기본태그 */
main .graphic4 {}
main .graphic4 .detail_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
main .graphic4 .detail_wrap .detail_left {}
main .graphic4 .detail_wrap h2,
main .graphic4 .detail_wrap .tab_contents {
    width: 650px;
}
main .graphic4 .detail_wrap h2 {margin: 0 0 20px;}
main .graphic4 .detail_wrap .detail_left .detail_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
main .graphic4 .detail_wrap .detail_left .tab_title {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 10px;
}
main .graphic4 .detail_wrap .detail_left .tab_title a {
    display: block;
    width: 60px; height: 60px;
    filter: grayscale(100%);
    transition: all 0.3s linear;
    margin-bottom: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    text-indent: -9999px;
}
main .graphic4 .detail_wrap .detail_left .tab_title a:last-child {margin-bottom: 0;}
main .graphic4 .detail_wrap .detail_left .tab_title a:nth-child(1) {background-image: url(../images/detail1.jpg);}
main .graphic4 .detail_wrap .detail_left .tab_title a:nth-child(2) {background-image: url(../images/detail2.jpg);}
main .graphic4 .detail_wrap .detail_left .tab_title a:nth-child(3) {background-image: url(../images/detail3.jpg);}
main .graphic4 .detail_wrap .detail_left .tab_title a:nth-child(4) {background-image: url(../images/detail4.jpg);}
main .graphic4 .detail_wrap .detail_left .tab_title a:nth-child(5) {background-image: url(../images/detail5.jpg);}
main .graphic4 .detail_wrap .detail_left .tab_title a:last-child {margin-right: 0;}
main .graphic4 .detail_wrap .detail_left .tab_title a:hover,
main .graphic4 .detail_wrap .detail_left .tab_title a.active {
    filter: grayscale(0);
    border: 2px solid #FFE55B;
    border-radius: 10px;
}
main .graphic4 .detail_wrap .tab_contents {}
main .graphic4 .detail_wrap .tab_contents > div {
    display: flex;
    align-items: center;
}
main .graphic4 .detail_wrap .tab_contents > div .tab_cover {
    width: 300px; height: 500px;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -9999px;
}
main .graphic4 .detail_wrap .tab_contents .c1 .tab_cover {background-image: url(../images/detail1.jpg);}
main .graphic4 .detail_wrap .tab_contents .c2 .tab_cover {background-image: url(../images/detail2.jpg);}
main .graphic4 .detail_wrap .tab_contents .c3 .tab_cover {background-image: url(../images/detail3.jpg);}
main .graphic4 .detail_wrap .tab_contents .c4 .tab_cover {background-image: url(../images/detail4.jpg);}
main .graphic4 .detail_wrap .tab_contents .c5 .tab_cover {background-image: url(../images/detail5.jpg);}
main .graphic4 .detail_wrap .tab_contents > div .c_txt {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
}
main .graphic4 .detail_wrap .tab_contents > div .c_txt h3 {font-size: 2.369rem;}
/* font 태그모음 */
main .graphic4 .detail_wrap .tab_contents > div .c_txt .font {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 50px 0;
}
main .graphic4 .detail_wrap .tab_contents > div .c_txt .font span {
    margin-bottom: 10px;
    font-size: 1.333rem;
}
main .graphic4 .detail_wrap .tab_contents > div .c_txt .font span:last-child {margin-bottom: 0;}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .font span:nth-child(1) {font-family: 'DM Serif Text', serif;}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .font span:nth-child(2) {font-family:'나눔스퀘어';}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .font span:nth-child(3) {font-family:'mapogolden';}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .font span:nth-child(4) {font-family:'mistral';}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .font span:nth-child(5) {font-family:'nanum19';}
main .graphic4 .detail_wrap .tab_contents .c2 .c_txt .font span:nth-child(1) {font-family: 'DM Serif Text', serif;}
main .graphic4 .detail_wrap .tab_contents .c2 .c_txt .font span:nth-child(2) {font-family:'여기어때';}
main .graphic4 .detail_wrap .tab_contents .c3 .c_txt .font span:nth-child(1) {font-family: 'Shrikhand', cursive;}
main .graphic4 .detail_wrap .tab_contents .c3 .c_txt .font span:nth-child(2) {font-family: 'Noto Sans KR', sans-serif;}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .font span:nth-child(1) {font-family:'하나다움';}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .font span:nth-child(2) {font-family: 'Potta One', cursive;}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .font span:nth-child(3) {font-family: 'Noto Sans KR', sans-serif;}
main .graphic4 .detail_wrap .tab_contents .c5 .c_txt .font span:nth-child(1) {font-family: 'Noto Sans KR', sans-serif;}
main .graphic4 .detail_wrap .tab_contents .c5 .c_txt .font span:nth-child(2) {font-family:'주아';}
/* color 태그모음 */
main .graphic4 .detail_wrap .tab_contents > div .c_txt .color {}
main .graphic4 .detail_wrap .tab_contents > div .c_txt .color p span:first-child {
    width: 45px; height: 45px;
    border: 1px solid rgba(255,255,255,0.5);
}
main .graphic4 .detail_wrap .tab_contents > div .c_txt .color p span:last-child {font-size: 1rem;}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .color p:nth-child(1) span:first-child {background: #C9E0F3;}
main .graphic4 .detail_wrap .tab_contents .c1 .c_txt .color p:nth-child(2) span:first-child {background: #2079B0;}
main .graphic4 .detail_wrap .tab_contents .c2 .c_txt .color p:nth-child(1) span:first-child {background: #F16687;}
main .graphic4 .detail_wrap .tab_contents .c2 .c_txt .color p:nth-child(2) span:first-child {background: #3A6EE3;}
main .graphic4 .detail_wrap .tab_contents .c3 .c_txt .color p:nth-child(1) span:first-child {background: #FF9C91;}
main .graphic4 .detail_wrap .tab_contents .c3 .c_txt .color p:nth-child(2) span:first-child {background: #9A6A6A;}
main .graphic4 .detail_wrap .tab_contents .c3 .c_txt .color p:nth-child(3) span:first-child {background: #FAD000;}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .color p:nth-child(1) span:first-child {background: #8F0010;}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .color p:nth-child(2) span:first-child {background: #F2C141;}
main .graphic4 .detail_wrap .tab_contents .c4 .c_txt .color p:nth-child(3) span:first-child {background: #FFD698;}
main .graphic4 .detail_wrap .tab_contents .c5 .c_txt .color p:nth-child(1) span:first-child {background: #C2172D;}
main .graphic4 .detail_wrap .tab_contents .c5 .c_txt .color p:nth-child(2) span:first-child {background: #364C20;}
main .graphic4 .detail_wrap .tab_contents .c5 .c_txt .color p:nth-child(3) span:first-child {background: #FAF28B;}
/* 기본 태그 */
main .graphic4 .detail_wrap .detail_right {
    position: relative;
    height: 100%;
}
main .graphic4 .detail_wrap .detail_right .detail {
    position: relative;
    top: 0; left: 0;
    width: 500px;
    height: 100vh;
    overflow-y: auto;
}
main .graphic4 .detail_wrap .detail_right .tab_detail img {width: 100%;}
/* contact */
main .contact {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
}
main .contact .outro_text {
    position: relative;
    top: 39px;
    z-index: 500;
}
main .contact .outro_text img {
    width: 600px; height: 124.6px;
}
main .contact .contents {
    padding: 10px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    margin-top: 90px;
    position: relative;
    z-index: 500;
    top: 30px;
}
main .contact .contents p {
    display: flex;
    align-items: center;
}
main .contact .contents p:first-child {margin-right: 70px;}
main .contact .contents p em {
    font-size: 1.333rem;
    font-weight: 700;
    margin-right: 25px;
    color: #C3E2FF;
}
main .contact .contents p a {
    font-weight: 700;
    color: #fff;
    transition: all 0.3s linear;
}
main .contact .contents p a:hover {
    color:#FFE55B;
    border-bottom: 2px solid #FFE55B;
}